[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
discord-py = "*"
requests = "*"
flask = "*"
pbwrap = "*"
python-dotenv = "*"
celery = {extras = ["redis"],version = "*"}
celery-pubsub = "*"

[requires]
python_version = "3.7"