[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
python-dotenv = "*"
discord-py = "*"
requests = "*"
pbwrap = "*"
django = "*"
psycopg2 = "<2.8"
psycopg2-binary = "*"
oauthlib = "*"
django-allauth = "*"

[requires]
python_version = "3.7"
